.common-header{
    display: flex;
    flex-direction: row;
    padding: 12px;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
}
.common-login{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width:1000px
}