/* side navigation */
.side-nav {
    height: 700px;
    min-height: 300px;
    position: sticky;
    top: 0;
    border-right:1px solid #e9eaec;
    margin: 1px 0px 1px 1px;
    padding: 15px 0px 0px 0px
}
/* .menu-item{

} */
.activeSidenav {
    background-color: #54cf93;
    border-radius: 8px;
    text-align: left;
    pointer-events: none;
}
.sidenav{
    border-radius: 8px;
    text-align: left;
}

/* profile bar */
.profile-bar {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: inherit;
    min-width: 1200px;
    box-shadow: 1px 0px 5px grey;
    justify-content: space-between;
    align-items: center;
}
.profile-right-bar{
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}
.logout-button{
    background-color: transparent;
    border: 0;
    margin: 5px 0px 5px 0px
}